* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  position: relative;
top:5rem;
justify-contents:center;
align-items:center;
  flex-direction: column;
}
.main__form .main__search {
  position: relative;
  top: -1rem;
}

.main__search .icon {
  position: relative;
  float: left;
  left: 2rem;
  top: 0.9rem;
}
.main__logo{

}
.main__search .main__search__input {

  outline: none;
  text-align: left;
  width: 550px;
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 3rem;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.2px;
}

.main__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.4rem;
}
.main__form .main__submit input {
  background-color: rgb(206, 205, 209, 0.3);
  padding: 0.8rem;

  border: none;
}

.main__navContaner{
width:50%;
border: 1px solid;
height:100%;
}
@media only screen and (width <= 800px ) {
   .main {
min-width:400px;
}
.main__form .main__search .main__search__input  {
  width:268px; 
}
}
@media only screen and (width >= 1440px ) {
   .main {
min-width:400px;
}
.main__form .main__search .main__search__input  {
  width:380px; 
}

}
@media only screen and (width >= 2560px ) {
  .main {
min-width:500px;
}
.main__form .main__search .main__search__input  {
min-width:576px;
margin-left:-1.2rem;
padding-left:4rem;
}
}
