* {
  margin: 0 auto;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  position: absolute;
transform: translate(60%, 28%);
  flex-direction: column;
}
.main__form .main__search {
  position: relative;
  top: -1rem;
}
.main__logo > img {
  position: relative;
  left: 7rem;
}
.main__form .main__search .icon {
  position: relative;
  float: left;
  left: 2rem;
  top: 0.9rem;
}
.main__form .main__search .main__search__input {

  outline: none;
  text-align: left;
  width: 550px;
  font-size: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 3rem;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.2px;
}

.main__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0.4rem;
}
.main__form .main__submit input {
  background-color: rgb(206, 205, 209, 0.3);
  padding: 0.8rem;
  margin: 0.5rem;
  border: none;
}

.main__navContaner{
width:50%;
border: 1px solid;
height:100%;
}
@media only screen and (width <= 800px ) {
   .main {
margin:1rem;
  display: flex;
  position: absolute;
transform: translate(8%, 28%);
  flex-direction: column;
}
.main__form .main__search .main__search__input  {
  width:268px; 

margin-left:-1.7rem;
padding-left:3.4rem;
}
.main__form .main__search .icon {
  position: relative;
  float: left;
  left: 1rem;
  top: 0.9rem;
}
.main__logo > img {
  position: relative;
  left: -2rem;
}
.main__submit {
position:relative;
left:-1rem;
}
}
@media only screen and (width >= 1440px ) {
   .main {
  display: flex;
  position: absolute;
transform: translate(80%, 78%);
  flex-direction: column;
}
.main__form .main__search .main__search__input  {
  width:380px; 
min-width:576px;
width:70px;
margin-left:-1.7rem;
padding-left:3.4rem;
}
.main__form .main__search .icon {
  position: relative;
  float: left;
  left: 1rem;
  top: 0.9rem;
}

}
@media only screen and (width >= 2560px ) {
   .main {
  display: flex;
  position: absolute;
left:27rem;
  flex-direction: column;
}
.main__form .main__search .main__search__input  {
  width:380px; 
min-width:576px;
width:70px;
margin-left:-1.7rem;
padding-left:3.4rem;
}
.main__form .main__search .icon {
  position: relative;
  float: left;
  left: 1rem;
  top: 0.9rem;
}

}
