.mainContainers{

  : relative;
margin-left:5rem;
margin-right:5rem;
}
.container{

margin-bottom:1rem;
}
.mainContainers__head >p{
opacity:0.5;
margin-bottom:1rem;
}
.container__link{
opacity:0.5;

}
.container__title{

}
.container__title>a{
font-size: 1.3rem;

text-decoration: none;
margin-bottom:1.5rem;
}
.container__snippet>p{

margin-top:0.2rem;
}
h1{
position:relative;
top:7rem;
font-size:2rem;
}


